<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.fp.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7823975bd6.js" crossorigin="anonymous"></script>   
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 id="dashboardToggle">Dashboard</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/dashboard"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="/profile"><i class="fas fa-user-alt"></i> Profile</a>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <!--Weather-->
                <li>
                    <a href="#" id="weatherButton" ><i class="fas fa-cloud-sun"></i> Get Weather</a>
                </li>
                <!--Youtube-->
                <li>
                    <a href="#" id="youtubeButton"><i class="fab fa-youtube"></i> Get Youtube</a>
                </li>
                <!--Steam-->
                <li>
                    <a href="#" id="steamButton"><i class="fab fa-steam"></i> Get Steam</a>
                </li>
                <!--Cinema-->
                <li>
                    <a href="#" id="cinemaButton"><i class="fas fa-film"></i> Get Movie</a>
                </li>
                <!-- Adult Content-->
                <li>
                    <a href="#" id="adultButton"><i class="fas fa-dog"></i> Get Adult Content</a>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <li>
                    <a href="/users/logout"><span class="fas fa-sign-out-alt"></span> Logout</a>
                </li>
            </ul>
        </nav>
    
        <!-- Page Content -->
        <div id="mainContent">
            <div class="container-fluid">
                <!--JS Script to Toggle the Button-->
                <button type="button" id="sidebarCollapse" class="btn btn-info" style="display: none;">
                    <i class="fas fa-align-left"></i>
                </button>
                <script>
                    $(document).ready(function () {
                        $('#dashboardToggle').on('click', function () {
                            $('#sidebar').toggleClass('active');
                            $('#sidebarCollapse').show();
                        });
                        $('#sidebarCollapse').on('click', function() {
                            $('#sidebar').toggleClass('active')
                            $('#sidebarCollapse').hide()
                        })
                    });
                </script>
                <!-- Real Content -->
                <div class="grid-stack">
                    <script>
                        //Load Widgets
                        function loadAllWidgets() {
                            var xhr = new XMLHttpRequest()
                            xhr.open("GET", "/loadWidget", true)
                            xhr.onreadystatechange = function() {
                                if (xhr.readyState == 4 && xhr.status == 200) {
                                    var widgets = JSON.parse(xhr.responseText)
                                    for (var i = 0; i < widgets.length; i++) {
                                        //Youtube Widget Creation
                                        if (widgets[i].widgetName == "youtube") {
                                            if (widgets[i].widgetRole == "loadVideo") {
                                                createYoutubeWidget(widgets[i].widgetContent)
                                            } else if (widgets[i].widgetRole == "getVideoViews") {
                                                createYoutubeWidgetForView(widgets[i].widgetContent)
                                            } else if (widgets[i].widgetRole == "getVideoLikesDislikes") {
                                                createYoutubeWidgetForLikesDislikes(widgets[i].widgetContent)
                                            }
                                        //Weather Widget Creation
                                        } else if (widgets[i].widgetName == "weather") {
                                            if (widgets[i].widgetRole == "getWeatherByCity") {
                                                createWeatherWidget(widgets[i].widgetContent)
                                            }
                                        } else if (widgets[i].widgetName == "steam") {
                                            if (widgets[i].widgetRole == "getPlayerInformation") {
                                                createSteamWidgetUserInformation(widgets[i].widgetContent)
                                            }
                                        } else if (widgets[i].widgetName == "cinema") {
                                            if (widgets[i].widgetRole == "getMovieInformation") {
                                                createCinemaWidgetMovieInformation(widgets[i].widgetContent)
                                            }
                                        } else if (widgets[i].widgetName == "adultContent") {
                                            if (widgets[i].widgetRole == "getRandomMovie") {
                                                createAdultWidgetRandomMovie(widgets[i].widgetContent)
                                            }
                                        }
                                    }
                                }
                            }
                            xhr.send()
                        }
                        loadAllWidgets()
                    </script>
                </div>

                <script type="text/javascript">
                    $(function () {
                        var options = {
                            cellHeight: 80,
                            verticalMargin: 10
                        };
                        $('.grid-stack').gridstack(options);
                    });
                </script>
                </div>
            </div>

            <!-- Edit Division -->
            <div class="editClass" id="editClass">
                <button id="closeEditWindow">x</button>
                <form action="/editWidget" method="POST">
                    <h2><strong>Change your value</strong></h2>
                    </br>
                    <input type="hidden" name="toChange" id="toChange" value="">
                    <input type="text" name="newValue" placeholder="Change value" required>
                    </br>
                    <input type="submit">
                </form>
            </div>
            <script>
                //Launch Edit Window
                function editWidget(item) {
                    $('#editClass').show()
                    $('#mainContent').fadeTo("slow", 0.4)
                    var toChangeInput = document.getElementById('toChange')
                    toChangeInput.value = item
                }
                //Close Edit Window
                $(document).ready(function() {
                    $('#closeEditWindow').on('click', function() {
                        $('#editClass').hide()
                        $('#mainContent').fadeTo("slow", 1)
                    })
                })
            </script>

            <!--Weather Division-->
            <div class="hiddenClass">
                <div class="weatherClass" id="weatherClass">
                    <h1><strong><i class="fas fa-cloud-sun"></i> Weather Widget</strong></h1>
                    <button id="removeWindowWeatherButton">X</button>
                    <form action="/saveWidget" method="POST">
                        <label for="cityWeather">Name of your city -> </label>
                        <input type="text" placeholder="City" name="widgetContent" id="cityWeather" required>
                        <input type="hidden" name="widgetName" value="weather">
                        <input type="hidden" name="widgetRole" value="getWeatherByCity">
                        <input type="submit" id="submit" value="Create">
                    </form>
                    <!--Close Window Function-->
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#weatherButton').on('click', function() {
                                $('#weatherClass').show()
                                $('#mainContent').fadeTo("slow", 0.4)
                            })
                            $('#removeWindowWeatherButton').on('click', function() {
                                $('#weatherClass').hide()
                                $('#mainContent').fadeTo("slow", 1)
                            })
                        })
                    </script>
                    <!--Weather Widget Creation-->
                    <script type="text/javascript">
                        function createWeatherWidget(cityWeather) {
                            /*Get Data*/
                            var key = '48eb9b6228b51e3445b97cb1640729a1'
                            var city = cityWeather
                            fetch("https://api.openweathermap.org/data/2.5/weather?q=" + city + "&appid=" + key)
                            .then(function(resp) {
                                return resp.json()
                            })
                            .then(function(data) {
                                var country = data.sys.country
                                var temp =  Math.round(parseFloat(data.main.temp)-273.15);
                                var desc = data.weather[0].description
                                var first = '<h1>' + '<strong>' + city + ', ' + country + '</strong>' + '</h1>'
                                var second = '<h2><i class="fas fa-thermometer-half"></i> ' + temp + ' °, ' + desc +'</h2>'
                                /*Create Widget*/
                                this.grid = $('.grid-stack').data('gridstack')
                                var node = {
                                    x: 3,
                                    y: 3,
                                    width: 4,
                                    height: 2
                                }
                                var elementId = 'id="' + cityWeather + '"'
                                var valueID = 'value="' + cityWeather + '"'
                                var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button class="trashButton" type="submit"></button></form>'
                                var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: powderblue; margin: 10px; border-radius: 10px;" ><i style="position: absolute; top: 3px; right: 4px" class="fas fa-cloud-sun"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + first + second + '</div></div>'
                                this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height)
                                })
                            .catch(function() {
                                return false
                            })
                        }
                    </script>
                </div>
            </div>
            <!--Youtube Division-->
            <div class="hiddenClass">
                <div class="youtubeClass" id="youtubeClass">
                    <h1><strong><i class="fab fa-youtube"></i> Youtube Widget</strong></h1>
                    <button id="removeWindowYoutubeButton">X</button>
                    <form action="/saveWidget" method="POST">
                        <label for="">Load video by id -> </label>
                        <input type="hidden" name="widgetName" value="youtube">
                        <input type="hidden" name="widgetRole" value="loadVideo">
                        <input type="text" placeholder="Ex : PeLBnv-PUck" name="widgetContent" id="videoId" required>
                        <input type="submit" value="Create">
                    </form>
                    <form action="/saveWidget" method="POST">
                        <label for="">Get video views by id -> </label>
                        <input type="hidden" name="widgetName" value="youtube">
                        <input type="hidden" name="widgetRole" value="getVideoViews">
                        <input type="text" placeholder="Ex : PeLBnv-PUck" name="widgetContent" id="videoId" required>
                        <input type="submit" value="Create">
                    </form>
                    <form action="/saveWidget" method="POST">
                        <label for="">Get video likes & dislikes by id -> </label>
                        <input type="hidden" name="widgetName" value="youtube">
                        <input type="hidden" name="widgetRole" value="getVideoLikesDislikes">
                        <input type="text" placeholder="Ex : PeLBnv-PUck" name="widgetContent" id="videoId" required>
                        <input type="submit" value="Create">
                    </form>
                    <!--Close Window Function-->
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#youtubeButton').on('click', function() {
                                $('#youtubeClass').show()
                                $('#mainContent').fadeTo("slow", 0.4)
                            })
                            $('#removeWindowYoutubeButton').on('click', function() {
                                $('#youtubeClass').hide()
                                $('#mainContent').fadeTo("slow", 1)
                            })
                        })
                    </script>
                    <!--Weather Widget Creation-->
                    <script type="text/javascript">
                        function createYoutubeWidget(videoId) {
                            /*Get Data*/
                            var first = '<h1><strong>' + videoId + '</strong></h1>'
                            var iframe = '<iframe style="margin-bottom: 10px; border: 1px solid red; border-radius: 5px" width="100%" height="100%" src="https://www.youtube.com/embed/' + videoId + '"></iframe>'
                            /*Create Widget*/
                            this.grid = $('.grid-stack').data('gridstack')
                            var node = {
                                x: 3,
                                y: 3,
                                width: 5,
                                height: 4,
                            }
                            var elementId = 'id="' + videoId + '"'
                            var valueID = 'value="' + videoId + '"'
                            var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button type="submit" class="trashButton"></button></form>'
                            var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: red; margin: 10px; border-radius: 10px;"><i style="position:absolute; top:3px; right: 4px" class="fab fa-youtube"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + first + iframe + '</div></div>'
                            this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height, node.name)
                        }
                        //Get Video Views
                        function createYoutubeWidgetForView(videoId) {
                            var apiKey = 'AIzaSyDbB8TFiUCVdenG1rk8ObLdBQFkTIMwtBw'
                            var url = "https://www.googleapis.com/youtube/v3/videos?part=statistics&id=" + videoId + "&key=" + apiKey
                            fetch(url)
                            .then(function(resp) {
                                return resp.json()
                            })
                            .then(function(data) {
                                /*Get Data*/
                                var statistics = data.items[0].statistics
                                console.log(statistics)
                                var first = '<h1><strong>' + videoId + '</strong></h1>'
                                var second = '<h2><i class="fas fa-eye"></i> ' + statistics.viewCount + '</h2>'
                                /*Create Widget*/
                                this.grid = $('.grid-stack').data('gridstack')
                                var node = {
                                    x: 3,
                                    y: 3,
                                    width: 4,
                                    height: 2,
                                }
                                var elementId = 'id="' + videoId + '"'
                                var valueID = 'value="' + videoId + '"'
                                var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button type="submit" class="trashButton"></button></form>'
                                var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: red; margin: 10px; border-radius: 10px;"><i style="position:absolute; top:3px; right: 4px" class="fab fa-youtube"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + first + second + '</div></div>'
                                this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height, node.name)
                            })
                        }
                        //Get Video Likes & Dislikes
                        function createYoutubeWidgetForLikesDislikes(videoId) {
                            var apiKey = 'AIzaSyDbB8TFiUCVdenG1rk8ObLdBQFkTIMwtBw'
                            var url = "https://www.googleapis.com/youtube/v3/videos?part=statistics&id=" + videoId + "&key=" + apiKey
                            fetch(url)
                            .then(function(resp) {
                                return resp.json()
                            })
                            .then(function(data) {
                                /*Get Data*/
                                var statistics = data.items[0].statistics
                                var likes = statistics.likeCount
                                var dislikes = statistics.dislikeCount
                                var first = '<h1><strong>' + videoId + '</strong></h1>'
                                var second = '<h2><i class="fas fa-thumbs-up"></i> ' + likes + '</h2>'
                                var secondBis = '<h2><i class="fas fa-thumbs-down"></i> ' + dislikes + '</h2>'
                                /*Create Widget*/
                                this.grid = $('.grid-stack').data('gridstack')
                                var node = {
                                    x: 3,
                                    y: 3,
                                    width: 4,
                                    height: 2,
                                }
                                var elementId = 'id="' + videoId + '"'
                                var valueID = 'value="' + videoId + '"'
                                var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button type="submit" class="trashButton"></button></form>'
                                var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: red; margin: 10px; border-radius: 10px;"><i style="position:absolute; top:3px; right: 4px" class="fab fa-youtube"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + first + second + secondBis + '</div></div>'
                                this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height, node.name)
                            })
                        }
                    </script>
                </div>
            </div>
            <!--Steam Division-->
            <div class="hiddenClass">
                <div class="steamClass" id="steamClass">
                    <h1><strong><i class="fab fa-steam"></i> Steam Widget</strong></h1>
                    <button id="removeWindowSteamButton">X</button>
                    <form action="/saveWidget" method="POST">
                        <label for="">Get player information by id -> </label>
                        <input type="hidden" name="widgetName" value="steam">
                        <input type="hidden" name="widgetRole" value="getPlayerInformation">
                        <input type="text" placeholder="Ex : 76561198411894760" name="widgetContent" id="videoId" required>
                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>
            <!--Close Window Function-->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#steamButton').on('click', function() {
                        $('#steamClass').show()
                        $('#mainContent').fadeTo("slow", 0.4)
                    })
                    $('#removeWindowSteamButton').on('click', function() {
                        $('#steamClass').hide()
                        $('#mainContent').fadeTo("slow", 1)
                    })
                })
            </script>
            <script type="text/javascript">
                function createSteamWidgetUserInformation(playerId) {
                    //76561198411894760
                    var apiKey = "F1E6CC6FAACA332C636766584B04B57F"
                    var url = "https://cors-anywhere.herokuapp.com/http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=" + apiKey + "&steamids=" + playerId
                    fetch(url)
                    .then(resp => resp.json())
                    .then (data => {
                        var playerInformations = data.response.players[0]
                        console.log(playerInformations)
                        var first = '<img style="border: 1px solid black; border-radius: 80px" src="' + playerInformations.avatarfull + '">'
                        var second = '<h2 style="color: white; margin-top: 10px"><strong>' + playerInformations.personaname + '</strong></h2>'
                        var third = '<a target="_blank" style="color: white" href="' + playerInformations.profileurl + '">See Profile</a>'
                        /*Create Widget*/
                        this.grid = $('.grid-stack').data('gridstack')
                        var node = {
                            x: 3,
                            y: 3,
                            width: 4,
                            height: 4,
                        }
                        var elementId = 'id="' + playerId + '"'
                        var valueID = 'value="' + playerId + '"'
                        var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button type="submit" class="trashButton"></button></form>'
                        var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: black; margin: 10px; border-radius: 10px;"><i style="position:absolute; top:3px; right: 4px" class="fab fa-steam"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + first + second + third + '</div></div>'
                        this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height)
                    })
                }
            </script>
            <!--Cinema Section-->
            <!--#F5C518-->
            <div class="hiddenClass">
                <div class="cinemaClass" id="cinemaClass">
                    <h1><strong><i class="fas fa-film"></i> Cinema Widget</strong></h1>
                    <button id="removeWindowCinemaButton">X</button>
                    <form action="/saveWidget" method="POST">
                        <label for="">Get movie information by name -> </label>
                        <input type="hidden" name="widgetName" value="cinema">
                        <input type="hidden" name="widgetRole" value="getMovieInformation">
                        <input type="text" placeholder="Ex : Joker" name="widgetContent" id="videoId" required>
                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>
            <!--Close Window Function-->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#cinemaButton').on('click', function() {
                        $('#cinemaClass').show()
                        $('#mainContent').fadeTo("slow", 0.4)
                    })
                    $('#removeWindowCinemaButton').on('click', function() {
                        $('#cinemaClass').hide()
                        $('#mainContent').fadeTo("slow", 1)
                    })
                })
            </script>
            <script type="text/javascript">
                function createCinemaWidgetMovieInformation(movieName) {
                    var apiKey = "8943a8d22d6a57cbd56344247b60640c"
                    var url = "https://api.themoviedb.org/3/search/movie?api_key=" + apiKey + "&query=" + movieName
                    fetch(url)
                    .then(resp => resp.json())
                    .then (data => {
                        var movieInformation = data.results[0]
                        var title = movieInformation.original_title
                        var note = movieInformation.vote_average
                        var img = '<img style="border: 1px solid transparent; border-radius: 5px" src="http://image.tmdb.org/t/p/w300/' + movieInformation.poster_path + '">'
                        var first = '<h2>' + title + '</h2>'
                        var second = '<h3 style="margin-top: 10px"><strong><i class="fas fa-star"></i> ' + note + '</strong></h3>'
                        var secondBis = '<h3><strong><i class="fas fa-clock"></i> ' + movieInformation.release_date + '</strong></i></h3>'
                        var secondBisBis = '<h3><strong><i class="fas fa-users"></i> ' + movieInformation.popularity + '</strong></i></h3>'
                        /*Create Widget*/
                        this.grid = $('.grid-stack').data('gridstack')
                        var node = {
                            x: 3,
                            y: 3,
                            width: 4,
                            height: 7,
                        }
                        var elementId = 'id="' + movieName + '"'
                        var valueID = 'value="' + movieName + '"'
                        var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button type="submit" class="trashButton"></button></form>'
                        var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: #F5C518; margin: 10px; border-radius: 10px;"><i style="position:absolute; top:3px; right: 4px" class="fas fa-film"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + img + second + secondBis + secondBisBis + '</div></div>'
                        this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height)
                    })
                }
            </script>
            <!--Adult Content Section-->
            <!--#F5C518-->
            <div class="hiddenClass">
                <div class="adultClass" id="adultClass">
                    <h1><strong><i class="fas fa-dog"></i> Adult Content Widget</strong></h1>
                    <button id="removeWindowAdultButton">X</button>
                    <form action="/saveWidget" method="POST">
                        <label for="">Get random video by name -> </label>
                        <input type="hidden" name="widgetName" value="adultContent">
                        <input type="hidden" name="widgetRole" value="getRandomMovie">
                        <input type="text" placeholder="Ex : ***" name="widgetContent" id="videoId" required>
                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>
            <!--Close Window Function-->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#adultButton').on('click', function() {
                        if (confirm('Are you 18 ?') == true) {
                            $('#adultClass').show()
                            $('#mainContent').fadeTo("slow", 0.4)
                        }
                    })
                    $('#removeWindowAdultButton').on('click', function() {
                        $('#adultClass').hide()
                        $('#mainContent').fadeTo("slow", 1)
                    })
                })
            </script>
            <script type="text/javascript">
                function getRandomInt(max) {
                    return Math.floor(Math.random() * Math.floor(max));
                }
                function createAdultWidgetRandomMovie(movieName) {
                    var url = 'https://cors-anywhere.herokuapp.com/https://api.redtube.com/?data=redtube.Videos.searchVideos&output=json&search=' + movieName + '&thumbsize=medium'
                    fetch(url)
                    .then(resp => resp.json())
                    .then (data => {
                        /*Get Data*/
                        var total = data.videos.length
                        var randomIdMovie = getRandomInt(total)
                        var movie = data.videos[randomIdMovie]
                        var movieUrl = movie.video.embed_url
                        var first = '<h1><strong>' + movie.video.title + '</strong></h1>'
                        var video = '<iframe style="border: 1px solid pink; border-radius: 5px;" src="' + movieUrl + '"></iframe>'
                        /*Create Widget*/
                        this.grid = $('.grid-stack').data('gridstack')
                        var node = {
                            x: 3,
                            y: 3,
                            width: 4,
                            height: 3,
                        }
                        var elementId = 'id="' + movieName + '"'
                        var valueID = 'value="' + movieName + '"'
                        var button = '<form action="/deleteWidget" method="POST"><input type="hidden" name="toRemove" ' + valueID + '></input><button type="submit" class="trashButton"></button></form>'
                        var createElement = '<div class="grid-stack-item" ' + elementId + ' style="background-color: pink; margin: 10px; border-radius: 10px;"><i style="position:absolute; top:3px; right: 4px" class="fas fa-dog"></i><button id="editButton" class="editButton" onclick="editWidget(this.parentNode.id)"></button><div class="grid-stack-item-content" style="padding: 20px; text-align: center">' + button + first + video + '</div></div>'
                        this.grid.addWidget($(createElement), node.x, node.y, node.width, node.height)
                    })
                }
            </script>
        </div>
    </div>
</body>
</html>