<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.fp.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/9315135da5.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Window to choose widget -->
    <div id="chooseWidgetWindow" class="container-fluid" style="border: 2px solid; border-color: darkgray; position: absolute; width: 400px; height: 400px; display: none; top: 20%; left: 35%; z-index: 1; border-radius: 10px; opacity: 0.95; background-color: lightgrey;">
        <button id="closeWidgetWindow" style="border-radius: 30px; background-color: red; padding: 5px;"></button>
        <h1 style="text-align: center;">Choose Widget</h1>
        </br>
        <div class="container" style="text-align: left;">
            <div style="display: inline-block;">
                <form action="/dashboard" method="POST">
                    <input type="text" name="cityWeather" placeholder="City Name" id="cityWeather" required>
                    <input type="submit" value="Get Weather" id="weatherWidgetButton">
                </form>
            </div>

            <br/>

            <div style="display: inline-block;">
                <form action="/dashboard" method="POST">
                    <input type="text" name="videoID" id="videoID" placeholder="Youtube ID" required>
                    <input type="submit" value="Get Youtube">
                </form>
            </div>

            <br/>

            <div style="display: inline-block;">
                <form action="/dashboard" method="POST">
                    <input type="text" name="steamID" id="steamID" placeholder="Steam ID" required>
                    <input type="submit" value="Get Steam">
                </form>
            </div>

            <br/>

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '#closeWidgetWindow', function() {
                $('#mainWindow').fadeTo("slow", 1)
                $('#chooseWidgetWindow').hide();
            })
        })
    </script>
    
    <!-- Div widget-->
    <div id="mainWindow" class="container-fluid col-md-12" style="display: flex; flex-flow: column; background-color: grey; height: 100%;">
        <div class="grid-stack">
            <!-- Basic grid -->
            <div class="grid-stack-item" style="background-color: darkgrey; margin: 10px; border-radius: 10px;" 
            data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
                <div class="grid-stack-item-content" style="justify-content: center; align-items: center; display: flex;">
                    <button class="btn" id="addNewWidget">
                        <p style="font-size: 60px; color: grey;">+</p>
                    </button>
                </div>
            </div>

            <!-- Dynamic grid -->
            <%for (var i = 0; i != widgets.length; i++) {%>
                <div class="grid-stack-item" style="background-color: darkgrey; margin: 10px; border-radius: 10px;" 
                data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
                <div class="grid-stack-item-content" style="justify-content: center; align-items: center; display: flex;">
                    <p style="font-size: 60"><%=widgets[i].name%></p>
                    </br>
                    <p><%=widgets[i].value%>°</p>
                </div>
            <%}%>
        </div>
            
        <script type="text/javascript">
            $(function () {
                var options = {
                    cellHeight: 80,
                    verticalMargin: 10,
                    removable: true
                };
                $('.grid-stack').gridstack(options);

                this.grid = $('.grid-stack').data('gridstack');
                    //Add a widget
                    this.addNewWidget = function() {
                        var createDivString = '<div class="grid-stack-item" style="border: 1px solid black; background-color: darkgrey; margin: 10px; border-radius: 10px"><div class="grid-stack-item-content"><button class="btn btn-danger" id="deleteWidget" style="border-radius: 30px; margin-top: 5px; padding: 5px; margin-left: 2px;"></button><div style="justify-content: center; align-items: center; display: flex; margin-top: 30px"></div></div></div>'
                        var node = {
                            x: 4,
                            y: 4,
                            autoPosition: true,
                            width: 3,
                            height: 3
                        };
                        this.grid.addWidget($(createDivString), 
                            node.x, node.y, node.width, node.height)
                        console.log(this.grid.grid.nodes)
                        return false
                    }.bind(this)

                $('#addNewWidget').click(function() {
                    $('#mainWindow').fadeTo("slow", 0.5)
                    $('#chooseWidgetWindow').show();
                })
                $('#submitWidget').click(this.addNewWidget)
                $('body').on('click','#deleteWidget',function(e) {
                    e.preventDefault();
                    var grid = $('.grid-stack').data('gridstack'),
                        el = $(this).closest('.grid-stack-item')
                    if (confirm("Are you sure you wish to delete this widget?") == true) { 
                        grid.removeWidget(el);
                    }
                });
            });
        </script>
    </div>
</body>
</html>